
// variables
$nav-height: 40px;
$header-background-color: blue;
$header-text-color: white;
$main-header-background-color: darken($header-background-color, 10%);
$nav-background-color: darken($header-background-color, 20%);

// default styles
h1,h2,h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
}
p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

// header nav

header {
	position: fixed;
	top: 0;
	left: 0;
	height: $nav-height;
	width: 100%;
	background: $nav-background-color;

	h1 {
		float: left;
		color: white;
		font-size: 1.1em;
	}
	nav {
		float: right;
		a {
			color: lightblue;
		}
	}
}

// page headers

%header {
	width: 100%;
	height: 60%;
	background: $header-background-color;
	color: $header-text-color;
}

.main-header {
	@extend %header;
	background: $main-header-background-color;
}

.header {
	@extend %header;
}
