
// variables

$base-color: blue;

$nav-height: 40px;
$nav-background-color: darken($base-color, 10%);

$nav-link-color: lighten(lightblue, 10%);
$nav-link-padding: ($nav-height - 18px) / 2;
$nav-link-hover-color: lighten($nav-link-color, 20%);
$nav-link-hover-background: darken($nav-background-color, 8%);

$header-background-color: $base-color;
$header-text-color: white;
$header-font: 'Open Sans', sans-serif;
$header-font-weight: 300;

$info-background-color: lighten(lightblue, 5%);
$mobile-info-height: 400px;
$mobile-software-gap: 8px;

$border-color: lighten($base-color, 10%);
$text-padding: 8px;
$body-copy: 'Roboto', sans-serif;
$body-copy-size: 1.05em;
$body-copy-line-height: 1.6;
$text-grey: #444;

// media queries
@mixin mq($point) {
	@if $point == desktop {
		@media (min-width: 1000px) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: 999px) { @content; }
	}
	@else if $point == phone {
		@media (max-width: 600px) { @content; }
	}
}

// default styles
* {
	box-sizing: border-box;
	font-family: $body-copy;
}
%text-padding {
	padding-left: $text-padding;
	padding-right: $text-padding;
}
h1,h2,h3 {
	@extend %text-padding;
	font-family: $header-font;
	font-weight: $header-font-weight;
	margin: 0;
}
h3 {
	font-size: 1.8em;
	margin-top: 36px;
	margin-bottom: 24px;
}
p, li {
	@extend %text-padding;
	font-size: $body-copy-size;
	line-height: $body-copy-line-height;
}
strong {
	font-weight: 500;
}
.anchor {
	display: inline-block;
	position: relative;
	top: -80px;
	visibility: hidden;
}

// header nav

header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: $nav-height;
	width: 100%;
	background: $nav-background-color;

	h1 {
		float: left;
		color: white;
		font-size: 1.3rem;
		padding: 6px 10px;
	}
	nav {
		float: right;

		a {
			color: $nav-link-color;
			display: block;
			float: left;
			padding: $nav-link-padding / 2 + 1px;
			padding-top: $nav-link-padding - 1px;
			padding-bottom: $nav-link-padding + 1px;

			&:hover, &.active {
				background: $nav-link-hover-background;
				background: linear-gradient(to bottom, lighten($nav-link-hover-background, 1%) 0%, darken($nav-link-hover-background, 1%) 100%);
				color: $nav-link-hover-color;
			}
		}
	}

	@include mq(tablet) {
		height: auto;

		h1 {
			width: 100%;
			text-align: center;
		}
		text-align: center;

		nav {
			width: 100%;
			text-align: center;

			a {
				display: inline-block;
				float: none;
				padding-top: $nav-link-padding - 3px;
				padding-bottom: $nav-link-padding - 1px;
			}
		}
	}
	@include mq(phone) {
		h1 {
			font-size: 1rem;
		}
		a {
			font-size: 0.8rem;
		}
	}
}

// page headers

%header {
	width: 100%;
	background: $header-background-color;
	color: $header-text-color;
	padding: 20% 2em;
	padding: 28vmin 0;
	text-align: center;
	font-size: 2.4rem;

	@include mq(tablet) {
		font-size: 1.9rem;
	}
	@include mq(phone) {
		font-size: 1.6rem;
	}
}

.main-header {
	@extend %header;
	background: $header-background-color;
	font-size: 2.6rem;

	.company-slideshow {
		background: $nav-background-color;
		background: linear-gradient(to bottom, lighten($nav-background-color, 2%) 0%, darken($nav-background-color, 3%) 100%);
		border-radius: 6px;
		padding: 4px 8px;
		border: 1px solid $border-color;
	}

	@include mq(desktop) {
		.main-header-text {
			margin-left: 1em;
		}

		.slideshow-wrapper {
			min-width: 5em;
			display: inline-block;
			text-align: left;
		}
	}
	@include mq(tablet) {
		font-size: 2.3rem;
	}
	@include mq(phone) {
		font-size: 1.9rem;
	}
}

.header {
	@extend %header;
}

// main

main {
	position: absolute;
	top: $nav-height;
	left: 0;
	width: 100%;

	@include mq(tablet) {
		top: $nav-height + 30px;
	}
	@include mq(phone) {
		top: $nav-height + 22px;
	}

	article {
		padding: 20px 15%;

		@include mq(tablet) {
			padding: 16px 6%;
		}
		@include mq(phone) {
			padding: 8px;
		}
	}

	.mission-statement {
		width: 100%;
		font-size: 1.3em;
		text-align: center;
		margin-bottom: -8px;
	}
	.mission-detail {
		width: 100%;
		text-align: center;
		color: $text-grey;
	}
}

// software library

.software-block {
	position: relative;

	.screenshot {
		margin: 0;

		img {
			width: 100%;
			display: block;
		}
	}

	.info-triangle {
		position: absolute;
		top: 0;
		height: 100%;
		left: 40%;
		width: 20%;
	}

	.info-container {
		position: absolute;
		top: 0;
		width: 40%;
		background: $info-background-color;
		height: 100%;

		.info-subcontainer, .info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.info {
			padding: 1em;
		}

		.info-subcontainer {
			overflow-y: auto;
			overflow-x: hidden;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30px;
			background: linear-gradient(to bottom, transparent 0%, $info-background-color 100%);
		}

		h3 {
			color: purple;
			display: inline;
			font-size: 2.4em;
		}
		$icon-width: 2em;
		.software-icon {
			width: $icon-width + 0.6em;
			float: left;
			margin-right: 0.2em;
			margin-top: 0.6em;
		}
		.software-tagline {
			display: block;
			margin-left: $icon-width + 1.3em;
			color: $text-grey;
		}
		.software-description {
			display: block;
			margin-top: 10px;
			line-height: 1.4;
			font-size: 1.05em;
		}
		.features {
			padding-left: 1.4em;

			li {
				padding-left: 0.2em;
				line-height: 1.2em;
			}
		}
		.replaces {
			margin-bottom: 10px;

			.replaces-text {
				float: left;
				margin-top: 12px;
				margin-right: 6px;
			}

			.software-icon-container {
				display: block;
				float: left;
				$icon-width: 4em;
				width: $icon-width;

				.software-icon {
					width: $icon-width / 2 + 0.2em;
					height: $icon-width / 2 + 0.2em;
					margin: 0 $icon-width / 4 - 0.1em;
				}
				.description {
					display: block;
					font-size: 0.8em;
					width: 100%;
					text-align: center;
					color: $text-grey;
					margin-top: 2.5em;
				}
			}

			.clear {
				clear: both;
			}
		}
	}

	&.left {
		.info-triangle {
			background: linear-gradient(to left bottom, transparent 49.5%, $info-background-color 50%);
		}
		.info, .info-subcontainer {
			transform: scaleX(-1);
		}
		.info-container {
			left: 0;
		}
	}
	&.right {
		.info-triangle {
			background: linear-gradient(to right bottom, transparent 49.5%, $info-background-color 50%);
		}
		.info-container {
			right: 0;
		}
	}
}

@include mq(tablet) {
	.software-block {
		margin-bottom: $mobile-info-height + $mobile-software-gap;

		.info-container::before {
			content: '';
			position: absolute;
			box-sizing: border-box;
			top: 100%;
			height: $mobile-software-gap;
			width: 100%;
			left: 0;
			border-top: 2px solid lighten($header-background-color, 20%);
			background: lighten($info-background-color, 20%);
		}

		.info-container {
			width: 100%;
			top: 100%;
			height: $mobile-info-height;
			.info-subcontainer {
				overflow-y: visible;
			}
		}
		.info-triangle {
			top: 95%;
			width: 100%;
			left: 0%;
			height: 5%;
		}
		&.left {
			.info-triangle {
				background: linear-gradient(to right bottom, transparent 49.5%, $info-background-color 50%);
			}
			.info, .info-subcontainer {
				transform: none;
			}
		}
	}
}
